body,html {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #5A3AB5;
    scroll-behavior: smooth;
}


/* 
FIRST SECTION
*/


.container-fluid {
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 100vh;
    background: transparent linear-gradient(360deg, #21197A 0%, #1D1676 100%) 0% 0% no-repeat padding-box;
}

.letress-nav {
    padding-top: 4em;
}
.letress {
    color: #00FFB3;
    font-weight: 400;
    font-size: 1.5em;
    cursor: pointer;
}
.letress:hover {
    color: #00FFB3;
    font-weight: 400;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
}
.letress-menu {
    color: white;
    font-weight: 400;
    font-size: 1.3em;
    cursor: pointer;
}
.letress-menu:hover {
    color: #00ffb3;
    font-weight: 400;
    font-size: 1.3em;
    cursor: pointer;
    text-decoration: none;;
}

.left-side, .right-side {
    margin-top: 9em;

}

#curve {
    position: relative;
    bottom: -5em;
    transform: scalex(1.1);
}

/* 
LEFT BAR
*/

#time-left {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    font-weight: 500;
    color: white;
}
#min,#sec {
    color: #00FFB3;
}
#copy-line {
    margin-top: 1em;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.4em;
}
#copy-line img {
    margin-left: 18px;
    cursor: pointer;
}



#letress-email {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border-radius: 0.25em;
    width: 70%;
    margin-top: 2em;
    overflow: hidden;
}
#email-field {
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    border: none;
    text-align: center;
    flex: 1;
    color: #8EB4C7;
    padding: 0.5em;
    margin: 0;
    cursor: pointer;
    user-select: none;
}

.copy-btn {
    background-color: #00FFB3;
    height: 100%;
    padding: 1.2em 2.4em;
    cursor: pointer;
}
.copy-btn:hover img {
    transform: scale(1.2);
}

#control-btns {
    margin-top: 1.5em;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#edit-btn, #reload-btn {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 1.1em;
    cursor: pointer;
}
#edit-btn img, #reload-btn img {
    margin-left: 0.5em;
}

#scroll-text {
    margin-top: 6em;
    font-size: 1.2em;
    color: #59FFC680;
    font-weight: 500;
}
#scroll-text img {
    margin-left: 1.2em;
}


/* 
RIGHT BAR
*/

.letress-mail-box-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#unread-text {
    color: white;
    font-size: 1.3em;
}
#delete-mail {
    color: white;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#delete-mail img {
    margin-left: 1em;
}

.letress-unread-mail-container {
    margin: 0;
    padding: 1.5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#unread-mail {
    padding: 2.5em 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #60FFFF26;
    width: 80%;
    border-radius: 0.5em;

    display: none;
}
.unread-sender {
    color: white;
    font-size: 1.2em;
    font-weight: 500;
}
.unread-subject {
    color: #5BD6B1;
    font-size: 1.2em;
    font-weight: 500;
}

#read-text {
    color: white;
    font-size: 1.3em;
    margin-top: 3em;
    margin-left: 3em;
}



/* 
SECTION 2
*/

.section2 {
    margin: 0;
    padding: 0;

    background-color: #5A3AB5;
    border-radius: 0;
}

#detail-title {
    margin-bottom: 1em;
    font-size: 2.2em;
    color: #5BD6B1;
    font-weight: 500;
}
#detail {
    font-size: 1.4em;
    color: white;
    font-weight: 400;
    width: 80%;
}
.left-detail img {
    padding: 2em;
}
.right-detail img {
    padding: 2em;
}

/* 
FOOTER
*/
#letress-footer {
    margin: 0;
    padding: 0;
    margin-top: 4em;
    height: 290.123px;
    width: 100%;
    background: url('assets/Path_footer.svg') no-repeat;
    transform: scaleX(1.1);

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact-div {
    margin-top: 1em;
    color: white;
    font-size: 1.5em;
}
.contact-div img {
    margin: 0 0.5em;
    cursor: pointer;
}
.contact-div img:hover {
    transform: translateY(-0.1em);
}
.web_arted {
    margin-top: 1em;
    font-size: 1.5em;
    color: white;
    font-weight: 400;
    font-style: italic;
}
